body{
    background: white;
}

.capa{
    width: 375px;
    height: 667px;
    background-color: rgb(44, 43, 43);
    border-radius: 30px;
    position: relative;
}

.display{
    width: 343px;
    height: 636px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    position: absolute;
    margin-top: 17px;
    margin-left: 14px;   
}

.notifications{
    background: rgb(0 0 0 / 0.253);
    height: 30px;
    width: 343px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.appBar{
    height: 50px;
    width: 343px;
    background-color: rgb(62, 9, 255);
}


.buttons{ 
    height: 49px;
    width: 343px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;  
    margin-top: 507px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.253);
}

.left{
    border: 2px solid rgb(75, 75, 75);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 8px;
}

.center{
    border: 2px solid rgb(75, 75, 75);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 8px;
}


.right{
    border: 2px solid rgb(75, 75, 75);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 8px;
}

.menu-nav{
    height: 50px;
    width: 50px;
}

.logo-home{
    height: 50px;
    width: 50px;
}