div, nav, header, aside, main, section, footer, h1, h2, h3, h4, h5, h6, a, ul, li, p, video, legend, img, audio{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; 
    font-family: Verdana, sans-serif;
    border-radius: 10px;
}

.container{
    width: 1250px;
    padding: 5px;
    margin: 20px 20px;
}

body{
    background:black;
}

ul{
    list-style: none;
    text-decoration: none;
}

a, p, h1, h2, h3, h4, h5, h6{
    color: white;
}

header{
    background: rgb(114, 6, 6);
    text-align: center;
    height: 80px;
}

.img_home{
    display: flex;
    width: 21px;
    height: 23px;
    border-radius: 0px;
}

.img_notification{
    display: flex;
    width: 21px;
    height: 23px;
}

nav{
    margin-top: 6px;
    display: flex;
    justify-content: space-evenly;
}

aside{
    position: fixed;
    margin-top: 20px;
    margin-left: 1039px;
    text-align: center;
    float: right;
    background: #626262;
    width: 200px;
    height: 200px;
    padding: 10px;
}

aside ul li a{
    font-size: 18px;
    background: rgb(190, 140, 140);
    margin-top: 3px;
    margin-bottom: 1px;
    display: block;
    line-height: 2;

}

main{
    margin-top: 20px;
    text-align: justify;
    width: 1000px;
}

section{
    background: #6b6b6b;
    margin: 10px 0;
    padding: 10px;
}

section h2{
    margin-bottom: 7px;
}

section p{
    color: black;
    background: #fff;
    padding: 7px;
}

section video{
    width: 800px;
    /* height: 800px; */
    margin-top: 10px;
    position: relative;
    margin-left: 90px;
    border: 8px solid white;
}

section legend{
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

section img{
    width: 440px;
    height: 440px;
    margin-top: 10px;
    position: relative;
    margin-left: 260px;
    border: 8px solid white;
}

section audio{
    position: relative;
    margin-left: 342px;
    margin-top: 6px;
}

footer{
    background: rgb(114, 6, 6);
    height: 30px;
    text-align: center;
}